/* Scaffolding
/* ------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 50px;
}

footer {
  padding: 0 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  line-height: 50px;
}

.text-danger,
.text-alert {
  color: #ec5840;
}

/* Alerts
/* ------ */

.callout.alert {
  background-color: rgba(240, 80, 80, 0.2);
  border-color: rgba(240, 80, 80, 0.3);
  color: #ec5840;
}

.callout.success {
  background-color: rgba(95, 190, 170, 0.3);
  border-color: rgba(95, 190, 170, 0.4);
  color: #3adb76;
}

.callout.primary {
  background-color: rgba(52, 211, 235, 0.2);
  border-color: rgba(52, 211, 235, 0.3);
}

/* Buttons
/* ------------------------- */

.button-group .button:not(:last-child) {
  border-right: 0;
  margin-right: 5px;
}

.button-group > .button {
  float: none;
  margin-bottom: 5px;
}

.button.facebook {
  background-color: #3b5998;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.button.facebook:hover,
.button.facebook:focus {
  background-color: #324c81;
}

.button.twitter {
  background-color: #00aced;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.button.twitter:hover,
.button.twitter:focus {
  background-color: #0092c9;
}

.button.google {
  color: #fff;
  background-color: #dd4b39;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.button.google:hover,
.button.google:focus {
  background-color: #ca3523;
}

.button.vk {
  background-color: #587ea3;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.button.vk:hover,
.button.vk:focus {
  background-color: #4b6b8b;
}

/* Top bar
/* ------------------------- */

.top-bar {
  padding: 0;
  margin-bottom: 2rem;
  color: #fff;
  background-color: #333;
}

.top-bar + .row {
}

.top-bar .avatar {
  padding: 0 1rem;
  color: #fff;
  margin-right: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.top-bar a {
  color: #fff;
}

.top-bar a:hover,
.top-bar a:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.07);
}

.top-bar-title {
  margin: 1rem 1rem 0;
}

.top-bar-title > a {
  margin-left: 10px;
}

.top-bar .menu > li > a {
  padding: 1.3rem 1rem;
  background-color: #333;
}

.top-bar li > a.active {
  background-color: #000;
}

/* Forms
/* ------------------------- */
.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: rgba(152, 166, 173, 0.2);
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  color: #0a0a0a;
  background-color: #fff;
  border-radius: 2px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

label {
  color: #0a0a0a;
  font-weight: 600;
}

textarea {
  resize: none;
}

/* Other
/* ----- */

.gravatar {
  display: block;
  margin: 0 0 1rem;
}
