<div class="container">
  <div ng-if="messages.error" role="alert" class="text-danger">
    <div ng-repeat="error in messages.error">{{error.msg}}</div>
  </div>

  <h4>Log In</h4>

  <form ng-submit="login()">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email" ng-model="user.email" autofocus>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" ng-model="user.password">
    <p><a href="/forgot">Forgot your password?</a></p>
    <button type="submit">Log in</button>
  </form>

  <hr>

  //= SIGN_IN_WITH_FACEBOOK_INDENT1
  //= SIGN_IN_WITH_TWITTER_INDENT1
  //= SIGN_IN_WITH_GOOGLE_INDENT1
  //= SIGN_IN_WITH_VK_INDENT1
  //= SIGN_IN_WITH_GITHUB_INDENT1

  <p>Don't have an account? <a href="/signup">Sign up</a></p>
</div>
