.highlight .c { color: #8e908c }
.highlight .err { color: #c82829 }
.highlight .k { color: #b168cd }
.highlight .l { color: #d35c5c }
.highlight .n { color: #21272d }
.highlight .o { color: #51bac8 }
.highlight .p { color: #4d4d4c }
.highlight .cm { color: #8e908c }
.highlight .cp { color: #8e908c }
.highlight .c1 { color: #8e908c }
.highlight .cs { color: #8e908c }
.highlight .gd { color: #c82829 }
.highlight .ge { font-style: italic }
.highlight .gh { color: #4d4d4c; font-weight: bold }
.highlight .gi { color: #46ad55 }
.highlight .gp { color: #8e908c; font-weight: bold }
.highlight .gs { font-weight: bold }
.highlight .gu { color: #51bac8; font-weight: bold }
.highlight .kc { color: #b168cd }
.highlight .kd { color: #b168cd }
.highlight .kn { color: #51bac8 }
.highlight .kp { color: #b168cd }
.highlight .kr { color: #b168cd }
.highlight .kt { color: #deb328 }
.highlight .ld { color: #46ad55 }
.highlight .m { color: #d35c5c }
.highlight .s { color: #46ad55 }
.highlight .na { color: #256fb9 }
.highlight .nb { color: #4d4d4c }
.highlight .nc { color: #deb328 }
.highlight .no { color: #d35c5c }
.highlight .nd { color: #51bac8 }
.highlight .ni { color: #4d4d4c }
.highlight .ne { color: #c82829 }
.highlight .nf { color: #256fb9 }
.highlight .nl { color: #4d4d4c }
.highlight .nn { color: #deb328 }
.highlight .nx { color: #256fb9 }
.highlight .py { color: #4d4d4c }
.highlight .nt { color: #51bac8 }
.highlight .nv { color: #c82829 }
.highlight .ow { color: #51bac8 }
.highlight .w { color: #4d4d4c }
.highlight .mf { color: #d35c5c }
.highlight .mh { color: #d35c5c }
.highlight .mi { color: #d35c5c }
.highlight .mo { color: #d35c5c }
.highlight .sb { color: #46ad55 }
.highlight .sc { color: #4d4d4c }
.highlight .sd { color: #8e908c }
.highlight .s2 { color: #46ad55 }
.highlight .se { color: #d35c5c }
.highlight .sh { color: #46ad55 }
.highlight .si { color: #d35c5c }
.highlight .sx { color: #46ad55 }
.highlight .sr { color: #46ad55 }
.highlight .s1 { color: #46ad55 }
.highlight .ss { color: #46ad55 }
.highlight .bp { color: #4d4d4c }
.highlight .vc { color: #c82829 }
.highlight .vg { color: #c82829 }
.highlight .vi { color: #c82829 }
.highlight .il { color: #d35c5c }
