script(src='//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js')
script(src='/javascripts/vendor/react.js')
script(src='/javascripts/vendor/react-dom.js')
script(type='text/babel' src='/javascripts/main.jsx')
