.hero {
  position: relative;
  padding: 30px 0;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background: #6f5499 linear-gradient(135deg,#271b38,#563d7c,#7952b3);
}

.hero h1 {
  margin-top: 0;
  color: #fff;
}

body {
  padding-bottom: 100px;
}

label span + i {
  color: #4F8EF7;
  margin-left: 4px;
  cursor: help;
}

.btn-outline {
  color: #563d7c;
  background-color: transparent;
  border-color: #563d7c;
}