body {
  font-size: 13px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 100px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #282828;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 40px;
}

h6 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 12px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 0 24px 0;
  width: 100%;
}

.hero {
  position: relative;
  padding: 0;
  padding-bottom: 30px;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  background: #6f5499 linear-gradient(135deg, #271b38, #563d7c, #7952b3);
}

.hero .lead > a {
  text-decoration: none;
  color: #cdbfe3;
  border-bottom: 1px dotted;
}

.hero h1 {
  margin-top: 0;
  color: #fff;
}

.hero-arrow {
  width: 47px;
  height: 32px;
  vertical-align: baseline;
  margin-right: 2px;
  margin-left: 155px;
}

.hero-logo {
  text-align: center;
  height: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
}

label span + i {
  color: #4F8EF7;
  margin-left: 4px;
  cursor: help;
}

.btn-outline {
  color: #563d7c;
  background-color: transparent;
  border-color: #563d7c;
}

.bd-booticon {
  display: block;
  width: 9rem;
  height: 9rem;
  font-size: 6.5rem;
  line-height: 9rem;
  color: #fff;
  text-align: center;
  cursor: default;
  background-color: #563d7c;
  border-radius: 15%;
}

.bd-booticon.outline {
  background-color: transparent;
  border: 1px solid #cdbfe3;
}

.hero .bd-booticon {
  margin: 0 auto 2rem;
  color: #cdbfe3;
  border-color: #cdbfe3;
}

/*Carbon Ads*/
.carbon-container,
#carbonads {
  max-width: 400px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin: 30px auto 20px;
}

.carbon-container {
  height: inherit;
}

.carbon-img {
  float: left;
  margin-right: 15px;
}

.carbon-text {
  display: block;
  font-size: 12px;
  line-height: 1.5;
  color: #fff !important;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
  text-decoration: none !important;
}

.carbon-poweredby {
  font-size: 75%;
  color: rgba(255, 255, 255, 0.85) !important;
  text-decoration: none !important;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
}

/*Navbar*/
.navbar {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .2);

}

.navbar-default {
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, .65);
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  transition: .2s all;
}

.navbar-default .navbar-nav > li > a.active {
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

/*.navbar-default .navbar-nav > li:not(:last-child) {*/
/*border-right: 1px solid rgba(255, 255, 255, .2);*/
/*}*/

.nav > li > a.navbar-icon {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 250%;
}



/** Labels **/
.label {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 0;
  font-size: 10px;
}

.label-danger {
  background-color: #c74443;
}

/*Radios*/
.radio input[type="radio"]:focus + label::before {
  outline: none;
}

/*Buttons*/
.btn {
}

.btn:active, .btn.active {
  box-shadow: none;
}

.btn-group > .btn {
  background-color: #f5f5f5;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.btn-group > .btn.active {
  color: #fff;
  background-color: #47b475;
}

.btn-success {
  background-color: #47b475;
}

.btn-mega {
  height: 50px;
  line-height: 48px;
  border: 2px solid #47b475;
  background: #47b475;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 0;
  transition: all .2s ease;
}

.btn-mega:hover,
.btn-mega:focus {
  border-color: #398e5C;
  background: #398e5c;
  color: #fff;
}

/*CSS Logos*/
.express-logo {
  display: block;
  font-size: 32px;
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10px;
  line-height: 50px;
  letter-spacing: 1px;
  -webkit-font-smoothing: initial;
}

.btn-logo {
  height: 60px;
  max-width: 140px;
  display: block;
  padding-bottom: 10px;
  margin: 0 auto;
}

.btn-logo.small {
  height: 40px;
}

.radio > label,
.checkbox-inline,
.radio-inline {
  text-align: center;
  line-height: 24px;
  border-radius: 0;
  transition: all 0.3s ease;
}


section {
  /*padding-top: 50px;*/
  padding-bottom: 10px;

}

.subcategory {
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.category-icon {
  height: 16px;
  margin-right: 8px;
}

/*Footer*/

footer {
  background-color: #292929;
  padding: 96px 0;
  position: relative;
  overflow: hidden;
}

/*Slideshow*/
.slick-slide img {
  display: inline-block;
}

.slick-slider {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Accordion */

section .panel {
  margin-top: 10px;
}
.panel {
  box-shadow: none;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-default > .panel-heading {
  border-radius: 0;
  background-color: #eee;
  transition: all 0.3s ease;
}

.panel-title {
  color: #666;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700.nav-stacked;
  letter-spacing: 1px;
}

/*.panel-default > .panel-heading + .panel-collapse > .panel-body {*/
  /*border: 1px solid #eee;*/
/*}*/

/*.nav-stacked {*/
  /*margin-top: 20px;*/
/*}*/

.nav-stacked > li + li {
  margin-top: 0;
}
.nav-stacked > li > a {
  padding: 8px 0;
}

.nav-stacked > li a > i[class^="ion"] {
  margin-right: 5px;
}

.panel-collapse  {
  padding: 5px 15px;
  background-color: #f5f5f5;
}

.nav-stacked > li > a:hover,
.nav-stacked > li > a:focus {
  background-color: transparent;
}
