body {
  background-color: #f4f5f7;
  font-size: 13px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgb(29, 124, 244);
}

main {
  padding-bottom: 20px;
}

ol, ul {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 40px;
}

h6 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  /*margin-bottom: 24px;*/
  /*border-bottom: 1px solid #ccc;*/
  /*padding-left: 5px;*/
  /*padding-right: 5px;*/
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 0 24px 0;
  width: 100%;
}

.placeholder {
  white-space: pre-wrap;
}

/* Should stay above connected dots canvas so that links could be clicked */
.hero-container {
  position: relative;
}

.hero {
  position: relative;
  padding: 0;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, .6);
  overflow: hidden;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  /*background: #6f5499 linear-gradient(135deg, #271b38, #563d7c, #7952b3);*/
  background-size:cover;
  background: url('../img/hero-bg.jpg') 0 50%, linear-gradient(224deg, #2B8BE3 0%, #663FB5 100%);
  /*background-position: 0;*/
}

.hero .lead a {
  color: rgba(255, 255, 255, .6);
  transition: .2s all;
}

.hero .lead a:hover {
  text-decoration: none;
  color: #fff;
}

.hero h1 {
  margin-top: 0;
  color: #fff;
}

.hero-arrow {
  width: 47px;
  height: 32px;
  vertical-align: baseline;
  margin-right: 2px;
  margin-left: 310px;
}

.hero-logo {
  text-align: center;
  height: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
}

label span + i {
  color: #4F8EF7;
  margin-left: 4px;
  cursor: help;
}

.btn-outline {
  color: #563d7c;
  background-color: transparent;
  border-color: #563d7c;
}

.bd-booticon {
  display: block;
  width: 9rem;
  height: 9rem;
  font-size: 6.5rem;
  line-height: 9rem;
  color: #fff;
  text-align: center;
  cursor: default;
  background-color: #563d7c;
  border-radius: 15%;
}

.bd-booticon.outline {
  background-color: transparent;
  border: 1px solid #cdbfe3;
}

.hero .bd-booticon {
  margin: 0 auto 2rem;
  color: #cdbfe3;
  border-color: #cdbfe3;
}

/*Carbon Ads*/
.carbon-container,
#carbonads {
  max-width: 320px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin: 30px auto 20px;
}

.carbon-container {
  height: inherit;
}

.carbon-img {
  float: left;
  margin-right: 15px;
}

.carbon-text {
  display: block;
  font-size: 12px;
  line-height: 1.5;
  color: #fff !important;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
  text-decoration: none !important;
}

.carbon-poweredby {
  font-size: 75%;
  color: rgba(255, 255, 255, 0.85) !important;
  text-decoration: none !important;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
}

/*Navbar*/
.navbar {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

i.arrow {
  position: absolute;
  font-size: 24px;
  line-height: 13px;
  margin-top: -1px;
}

.navbar-brand {
  padding: 10px 15px;
}

.navbar-brand svg {
  fill: rgba(255, 255, 255, .6);
  transition: fill .2s;

}

.navbar-brand:hover svg {
  fill: rgba(255, 255, 255, 1);
}

.navbar-default {
  background-color: transparent;
}

.navbar-inverse {
  background: #6f5499 linear-gradient(135deg, #271b38, #563d7c, #7952b3);
}

.navbar-default .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, .6);
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  transition: .2s all;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  /*border-bottom: 1px solid #fff;*/
  /*margin-bottom: -1px;*/
}

/*.navbar-default .navbar-nav > li:not(:last-child) {*/
/*border-right: 1px solid rgba(255, 255, 255, .2);*/
/*}*/

.navbar-icon {
  padding-bottom: 8px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.navbar-icon svg {
  fill: currentColor;
}

/** Labels **/
.label {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 0;
  font-size: 10px;
}

.label-danger {
  background-color: #c74443;
}

/*Radios*/
.radio input[type="radio"]:focus + label::before {
  outline: none;
}

/*Buttons*/
.btn {
  font-size: 13px;
  border-radius: 2px;
}

.btn:active, .btn.active {
  box-shadow: none;
}

.btn-default {
  color: #333;
  background-color: #fcfcfc;
  border-color: #ddd;
}

.btn-group > .btn {
  background-color: #f5f5f5;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.btn-group > .btn.active {
  color: #fff;
  background-color: #47b475;
}

.btn-success {
  background-color: #47b475;
}

.btn-mega {
  height: 50px;
  line-height: 48px;
  border: 2px solid #47b475;
  background: #47b475;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 0;
  transition: all .2s ease;
}

.btn-mega:hover,
.btn-mega:focus {
  border-color: #398e5C;
  background: #398e5c;
  color: #fff;
}

/*CSS Logos*/
.express-logo {
  display: block;
  font-size: 32px;
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10px;
  line-height: 50px;
  letter-spacing: 1px;
  -webkit-font-smoothing: initial;
}

.btn-logo {
  max-height: 50px;
  max-width: 140px;
  display: block;
  padding-bottom: 10px;
  margin: 0 auto;
}

.btn-logo.small {
  height: 40px;
  padding-bottom: 5px;
}

.radio-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

.radio > label,
.checkbox-inline,
.radio-inline {
  text-align: center;
  /*line-height: 24px;*/
  border-radius: 0;
  vertical-align: baseline;
}


.radio-inline .label,
.checkbox-inline .label {
  position: absolute;
  left: 0;
  /*margin-left: 30px;*/
  margin-top: 2px;
}

.checkbox-inline {
  margin-top: 10px;
  margin-bottom: 10px;
}

section {
  /*padding-top: 50px;*/
  padding-bottom: 10px;

}

.subcategory {
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.info-icon {
  height: 18px;
  vertical-align: text-bottom;
  margin-right: 4px;
}

.category-icon {
  height: 16px;
  margin-right: 8px;
}

.category-panel {
  cursor: pointer;
  text-align: center;
  transition: .2s all;
}

.category-panel img {
  margin-bottom: 10px;
}

.category-panel:hover {
  color: #fff;
  background-color: #47b475;
}

.category-panel.active {
  color: #fff;
  background-color: #47b475;
}

/*Footer*/

footer {
  padding: 20px 0;
  position: relative;
  overflow: hidden;
}

/*Slideshow*/
.slick-slide img {
  display: inline-block;
}

.slick-slider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-stacked {
  margin-top: 20px;
}

.nav-stacked > li + li {
  margin-top: 0;
}

.nav-stacked > li > a {
  padding: 0;
  color: #333;
}

.nav-stacked > li > a > span {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 16px;
}

.nav-stacked > li > a > span:hover {
  color: rgb(29, 124, 244);
  background-image: linear-gradient(to bottom, rgba(29, 124, 244, 0) 50%, rgba(29, 124, 244, 0.6) 50%);
}

a > i[class^="fa"] {
  margin-right: 5px;
}

.nav-stacked > li a > span + i {
  margin-left: 5px;
}

.panel-collapse {
  padding: 0 20px;
}

.nav-stacked > li > a:hover,
.nav-stacked > li > a:focus {
  background-color: transparent;
}

/*Connected Dots*/
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.facebook-share-button {
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.plusone-button,
.linkedin-button,
.tweet-button {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 50px;
}

.twitter-share-button {
  padding: 0 !important;
}

/* ANimated stack */
.wrapper {
  width: 320px;
  height: 210px;
  margin: 0 auto;
}

.wrapper:hover .upper {
  top: -3em;
}

.wrapper:hover .lower {
  top: 3em;
}

.box, .upper, .middle, .lower {
  padding: 15px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: -35px;
  height: 290px;
  width: 275px;
  position: absolute;
  background: #cfd9db;
  z-index: 50;
  transform: rotate(-25deg) scale(0.5) skew(45deg);
  box-shadow: -5px 5px 10px #333;
  transition: all 0.25s ease;
}

.upper {
  background: #617d8c;
  top: -2em;
  z-index: 60;
  background-image: -webkit-linear-gradient(bottom, #ffffff, #d9d9d9);
  background-image: linear-gradient(to top, #ffffff, #d9d9d9);
  border-color: #d6d6d6;
}

.upper:hover {
  left: 2em;
  cursor: pointer;
}

.middle {
  background-color: #1ad28f;
  background-image: -webkit-linear-gradient(bottom, #1ad28f, #128e61);
  background-image: linear-gradient(to top, #1ad28f, #128e61);
  border-color: #11895e;
}

.middle:hover {
  left: 2em;
  cursor: pointer;
}

.lower {
  background: #455963;
  top: 2em;
  z-index: 45;
  background-color: #28ace2;
  background-image: -webkit-linear-gradient(bottom, #28ace2, #177da7);
  background-image: linear-gradient(to top, #28ace2, #177da7);
  border-color: #167aa2;
}

.lower:hover {
  left: 2em;
  cursor: pointer;
}

/*Paper stacks*/
.paper-container {
  top: -70px;
  margin: 0 auto;
  margin-bottom: 90px;
  position: relative;
  width: 75px;
  height: 75px;
}

.paper {
  display: block;
  width: 90px;
  height: 90px;
  position: absolute;
  top: -120px;
  border-radius: 8px;
  -webkit-transform: rotate(-28deg) skewX(48deg);
  transform: rotate(-28deg) skewX(48deg);
  box-shadow: -12px 8px 20px 0px rgba(0, 0, 0, 0.4);
  border-bottom: 5px solid #031f63;
  border-left: 7px solid #031f63;
  opacity: 0;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.paper.stacked {
  opacity: 1;
}

.paper-bottom {
  background-color: #28ace2;
  background-image: -webkit-linear-gradient(bottom, #28ace2, #177da7);
  background-image: linear-gradient(to top, #28ace2, #177da7);
  border-color: #167aa2;
}

.paper-bottom.stacked {
  top: 140px;
}

.paper-middle {
  background-color: #1ad28f;
  background-image: -webkit-linear-gradient(bottom, #1ad28f, #128e61);
  background-image: linear-gradient(to top, #1ad28f, #128e61);
  border-color: #11895e;
}

.paper-middle.stacked {
  top: 110px;
}

.paper-top {
  background-image: -webkit-linear-gradient(bottom, #ffffff, #d9d9d9);
  background-image: linear-gradient(to top, #ffffff, #d9d9d9);
  border-color: #d6d6d6;
}

.paper-top.stacked {
  top: 80px;
}

/*.tooltip-inner {*/
  /*max-width: 300px;*/
  /*width: 300px;*/
/*}*/

/*Headings Styles*/

.node .panel-heading {
  background: #83cd29;
  border-color: #83cd29;
}

.python .panel-heading {
  background: #ffd344;
  border-color: transparent;
}

.html5 .panel-heading {
  color: #fff;
  background: #e64c18;
  border-color: transparent;
}

.html5 svg {
  color: #fff;
  fill: currentColor;
}

.express .panel-heading {
  color: #fff;
  background: #000;
  border-color: transparent;
}

.express svg {
  color: #fff;
  fill: currentColor;
}

.hapi .panel-heading {
  color: #3c3b30;
  background: #f6941e;
  border-color: transparent;
}

.hapi svg {
  color: #3c3b30;
  fill: currentColor;
}

.sails .panel-heading {
  color: #fff;
  background: #41bac2 linear-gradient(135deg, #41bac2 0, #0b8fa2 100%);
  border-color: transparent;
}

.sails svg {
  color: #fff;
  fill: currentColor;
}

.meteor .panel-heading {
  color: #fff;
  background: #de4f4f;
  border-color: transparent;
}

.meteor svg {
  color: #fff;
  fill: currentColor;
}

.handlebars .panel-heading {
  color: #fff;
  background: #f7931e radial-gradient(at top center, #f7931e, #f15a24 750px);
  border-color: transparent;
}

.handlebars svg {
  color: #fff;
  fill: currentColor;
}

.jade .panel-heading {
  color: #fff;
  background: #448B6F;
  border-color: transparent;
}

.jade svg {
  color: #fff;
  fill: currentColor;
}

.nunjucks .panel-heading {
  color: #fff;
  background: #1e4514;
  border-color: transparent;
}

.nunjucks svg {
  color: #fff;
  fill: currentColor;
}

.bootstrap .panel-heading {
  color: #fff;
  background: #6f5499 linear-gradient(135deg, #271b38, #563d7c, #7952b3);
  border-color: transparent;
}

.bootstrap svg {
  color: #fff;
  fill: currentColor;
}

.foundation .panel-heading {
  color: #fff;
  background: #777;
  border-color: transparent;
}

.foundation svg {
  color: #fff;
  fill: currentColor;
}

.bourbonNeat .panel-heading {
  color: #fff;
  background: #53aee0 linear-gradient(#53aee0, #3da4dc);
  border-color: transparent;
}

.bourbonNeat svg {
  color: #fff;
  fill: currentColor;
}

.sass .panel-heading {
  color: #fff;
  background: #c6538c;
  border-color: transparent;
}

.sass svg {
  color: #fff;
  fill: currentColor;
}

.less .panel-heading {
  color: #fff;
  background: #1d365d;
  border-color: transparent;
}

.less svg {
  color: #fff;
  fill: currentColor;
}

.postcss .panel-heading {
  color: #fff;
  background: #dd3735;
  border-color: transparent;
}

.postcss svg {
  color: #fff;
  fill: currentColor;
}

.cssnext .panel-heading {
  color: #fff;
  background: linear-gradient(160deg, rgba(115, 64, 196, .9), rgba(49, 142, 223, .9));
  border-color: transparent;
}

.cssnext svg {
  color: #fff;
  fill: currentColor;
}

.mongodb .panel-heading {
  color: #fff;
  background: #69b241;
  border-color: transparent;
}

.mongodb svg {
  color: #fff;
  fill: currentColor;
}

.mysql .panel-heading {
  color: #fff;
  background: #f59620;
  border-color: transparent;
}

.mysql svg {
  color: #fff;
  fill: currentColor;
}

.postgresql .panel-heading {
  color: #fff;
  background: #0085b0;
  border-color: transparent;
}

.postgresql svg {
  color: #fff;
  fill: currentColor;
}

.rethinkdb .panel-heading {
  color: #fff;
  background: linear-gradient(to bottom, #214753 0%, #1a5161 50%, #1c5064 81%, #1d4f5f 100%);
  border-color: transparent;
}

.rethinkdb svg {
  color: #fff;
  fill: currentColor;
}

.react .panel-heading {
  color: #61dafb;
  background: #2d2d2d;
  border-color: transparent;
}

.react svg {
  color: #61dafb;
  fill: currentColor;
}

.angular .panel-heading {
  color: #fff;
  background: #1976d2;
  border-color: transparent;
}

.angular svg {
  color: #fff;
  fill: currentColor;
}

.authentication .panel-heading {
  color: #fff;
  background: #1f1c2c linear-gradient(to left, #1f1c2c, #928dab);
  border-color: transparent;
}

.authentication svg {
  color: #fff;
  fill: currentColor;
}

.heroku .panel-heading {
  color: #fff;
  background: #430098;
  border-color: transparent;
}

.heroku svg {
  color: #fff;
  fill: currentColor;
}

.azure .panel-heading {
  color: #fff;
  background: #00adef;
  border-color: transparent;
}

.azure svg {
  color: #fff;
  fill: currentColor;
}

.bluemix .panel-heading {
  color: #fff;
  background: #00a391;
  border-color: transparent;
}

.bluemix svg {
  color: #fff;
  fill: currentColor;
}

.gulp .panel-heading {
  color: #fff;
  background: #cf4646;
  border-color: transparent;
}

.gulp svg {
  color: #fff;
  fill: currentColor;
}

.webpack .panel-heading {
  background: #7ea9e8;
  border-color: transparent;
}

.webpack svg {
  fill: currentColor;
}

.npm .panel-heading {
  color: #fff;
  background: #cb3837;
  border-color: transparent;
}

.npm svg {
  color: #fff;
  fill: currentColor;
}

.jasmine .panel-heading {
  color: #fff;
  background: #8a4182;
  border-color: transparent;
}

.jasmine svg {
  color: #fff;
  fill: currentColor;
}

.mocha .panel-heading {
  color: #fff;
  background: #a07a5c;
  border-color: transparent;
}

.mocha svg {
  color: #fff;
  fill: currentColor;
}

.digitalOcean .panel-heading {
  color: #fff;
  background: #288feb;
  border-color: transparent;
}

.digitalOcean svg {
  color: #fff;
  fill: currentColor;
}

.panel {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  transition: box-shadow .2s linear;
}

.panel:hover {
  box-shadow: 0 4px 9px rgba(0, 0, 0, .15);
}

.panel-heading {
  padding: 0 15px;
  border-bottom: 1px solid #ddd;
  margin: -1px -1px 0;
}

.panel-heading h6 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.panel-heading h6 svg {
  margin-right: 6px;
  /*vertical-align: sub;*/
  vertical-align: middle;
}

.panel-heading .stats-icon {
  color: inherit;
  line-height: 32px;
  float: right;
}

.panel-body {
  /*padding-bottom: 0;*/
}

.options-icon {
  margin-right: 5px;
  vertical-align: sub;
}

.options-icon.animated {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.radio-inline span > img {
  margin-top: -3px;
}

[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* One radio button per line */

/*[type="radio"] + span {*/
  /*display: block;*/
/*}*/

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 2px solid #fff;
  box-shadow: 0 0 0 0.125em rgba(0, 0, 0, 0.54);
  margin-right: 0.75em;
  transition: all .2s ease-out;
}

[type="radio"]:hover + span:before {
  box-shadow: 0 0 0 0.125em rgb(29, 124, 244);
}

[type="radio"]:active + span:before {
  box-shadow: 0 0 0 0.125em #1d7cf4;
  background: #1d7cf4;

}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: #000;
  box-shadow: 0 0 0 0.125em #000;
}

.featuring {
  color: rgba(255, 255, 255, .6);
  margin-bottom: 10px;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

code {
  line-height: 1;
}
