extends ../layout

block content
  .container
    .panel
      .panel-body
        if messages.info
          .alert.alert-info(role='alert')
            for info in messages.info
              div= info.msg

        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        form(method='POST')
          legend Forgot Password
          .form-group
            p Enter your email address below and we'll send you password reset instructions.
            label(for='email') Email
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
          button.btn.btn-success(type='submit') Reset Password
