extends ../layout

block content
  .container
    if messages.success
      div.text-success
        for success in messages.success
          div= success.msg
    if messages.error
      div.text-danger
        for error in messages.error
          div= error.msg

    h4 Reset Password

    form(method='POST')
      label(for='password') New Password
      input(type='password', name='password', id='password', placeholder='New password', autofocus)
      label(for='confirm') Confirm Password
      input(type='password', name='confirm', id='confirm', placeholder='Confirm password')
      br
      button(type='submit') Change Password
