header
  nav
    ul
      li
        a(href='#', title='Home') Home
      li
        a(href='/login', title='Blog') Log in
      li
        a(href='/signup', title='Work') Sign up
      li
        a(href='#', title='Resources') Resources
      li
        a(href='#', title='Meta') Meta
