header
  nav
    ul
      li
        a(href='#', title='Home') Home
      li
        a(href='#', title='Blog') Blog
      li
        a(href='#', title='Work') Work
      li
        a(href='#', title='Resources') Resources
      li
        a(href='#', title='Meta') Meta
