doctype html
html
  head
    title= title
    //= CSS_FRAMEWORK_IMPORT
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content

    //= JS_FRAMEWORK_BABEL_BROWSER
    //= JS_FRAMEWORK_LIB_IMPORT
    //= JS_FRAMEWORK_MAIN_IMPORT
