---
layout: default
body_class: "home-template user"
---

{% include header.html %}
<div class="page-content">
  <div class="wrapper">
    <div class="home">
      {% for post in paginator.posts %}
      <article class="{%comment%}post_class{%endcomment%}">
        {% if post.image %}
        <div class="image-holder show">
          <a href="{{ post.url | prepend: site.baseurl }}" class="inner" style="background-image: url('{{ post.image }}');">
            <img src="{{ post.image }}">
          </a>
        </div>
        {% endif %}
        <div class="meta">
          <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%B %-d, %Y" }}</a>
          </time>
        </div>
        <header>
          <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        </header>
        <div class="text">
          <p>{{ post.excerpt }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="readmore">Continue Reading</a>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</div>
{% include pagination.html %}
{% include footer.html %}
