<div class="container">
  <h3>Contact Form</h3>
  <div ng-if="messages.error" role="alert" class="text-danger">
    <div ng-repeat="error in messages.error">{{error.msg}}</div>
  </div>
  <div ng-if="messages.success" role="alert" class="text-success">
    <div ng-repeat="success in messages.success">{{success.msg}}</div>
  </div>
  <form ng-submit="sendContactForm()">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" ng-model="contact.name" autofocus>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" ng-model="contact.email">
    <label for="message">Body</label>
    <textarea name="message" id="message" rows="7" ng-model="contact.message"></textarea>
    <br>
    <button type="submit">Send</button>
  </form>
</div>
