<div class="container">
  <div class="panel">
    <div class="panel-body">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <div ng-if="messages.success" role="alert" class="alert alert-success">
        <div ng-repeat="success in messages.success">{{success.msg}}</div>
      </div>
      <form ng-submit="forgotPassword()">
        <legend>Forgot Password</legend>
        <div class="form-group">
          <p>Enter your email address below and we'll send you password reset instructions.</p>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Email" class="form-control" ng-model="user.email" autofocus>
        </div>
        <button type="submit" class="btn btn-success">Reset Password</button>
      </form>
    </div>
  </div>
</div>