extends ../layout

block content
  .container
    if messages.success
      div.text-success
        for success in messages.success
          div= success.msg
    if messages.error
      div.text-danger
        for error in messages.error
          div= error.msg

    h4 Create an account

    form(method='POST')
      label(for='name') Name
      input(type='text', name='name', id='name', placeholder='Name', autofocus)
      label(for='email') Email
      input(type='email', name='email', id='email', placeholder='Email')
      label(for='password') Password
      input(type='password', name='password', id='password', placeholder='Password')
      p By signing up, you agree to the <a href="/">Terms of Service</a>.
      button(type='submit') Create an account

      hr

      a(href='/auth/facebook') Sign in with Facebook
      a(href='/auth/twitter') Sign in with Twitter
      a(href='/auth/google') Sign in with Google
      a(href='/auth/vkontakte') Sign in with VK

    p Already have an account?
      a(href='/login')
        strong  Log in
