<div class="container">
  <h3>Contact Form</h3>
  {{#if messages.success}}
    <div class="text-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div class="text-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  <form method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" autofocus>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="message">Body</label>
    <textarea name="message" id="message" rows="7"></textarea>
    <br>
    <button type="submit">Send</button>
  </form>
</div>
