<div class="expanded row">
  {{#if messages.success}}
    <div role="alert" class="callout success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div role="alert" class="callout alert">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div role="alert" class="callout primary">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  <div class="row">
    <div class="medium-4 columns">
      <h3>Heading</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        Donec sed odio dui.</p>
      <a href="#" role="button" class="button">View details</a>
    </div>
    <div class="medium-4 columns">
      <h3>Heading</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        Donec sed odio dui.</p>
      <a href="#" role="button" class="button">View details</a>
    </div>
    <div class="medium-4 columns">
      <h3>Heading</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        Donec sed odio dui.</p>
      <a href="#" role="button" class="button">View details</a>
    </div>
  </div>
</div>
