body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  flex: 1;
  padding: 1em;
}

footer {
  padding: 1em;
}

nav > ul {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul {
  border-bottom: 1px solid #ccc;
}

nav > ul > li {
  background-image: linear-gradient(to bottom, transparent 95%, rgba(40, 0, 215, 1) 95%);
  background-size: 100% 200%;
  background-position: top center;
  text-align: center;
  transition: all .25s ease-in-out;
}

nav > ul > li:hover {
  background-position: bottom center;
}

nav > ul > li > a {
  font-weight: bold;
  display: block;
  padding: 1rem 2rem;
  color: inherit;
  text-decoration: none;
  transition: all .25s ease-in-out;

}

nav > ul > li > a:hover {
  color: rgb(40, 0, 215);
}
